
{{template "header"}}
	<section class="section" id="hotels" style="padding: 100px 0 30px;">
		<div class="container">
			<div class="col-sm-6 align-center img-column">
				<img src="/assets/public/img/hotel.svg" alt="" class="h5" />
			</div>

			<div class="col-sm-6 align-left">
				<article style="max-width: 480px;">
					<h3>LODGING OPTIONS</h3>
					<p><small class="text-alt"><span class="highlight">Stay in style</span></small></p>
					<!-- <p>
						To receive the Group room rate at our conference hotels,
						be sure to mention the <span class="highlight">GopherCon room block.</span>
						Rates will be honored until the block sells out.
					</p> -->
					<p>
						Here are available hotel acomodations and their prices you can choose from.
					</p>
				</article>
			</div>
		</div>
	</section>


<section id="hotels" class="fullwidth-section">
	{{ range $i,$data := .data}}
<div class="fullwidth-path">
			<div class="fullwidth-section-bg {{if odd $i}}bg-right{{else}}bg-left{{end}}" style="background-image: url('{{$data.PhotoURL}}');"></div>

			<div class="col-sm-6 {{if odd $i}}align-{{else}}col-sm-offset-6 {{end}} fullwidth-column">
				<article>
					<h3>
          <span>{{.Name}}</span>
          </h3>
					<p>
						<small class="text-alt">
							<span class="highlight">
								<a href="https://goo.gl/maps/B46mFQjQgHA2">
									{{.Address}}
								</a>
							</span>
						</small>
					</p>
					<p> {{ .Description}}</p>
					<p>
						<span class="highlight">{{.Phone}}</span>
					</p>
					<br />

          {{ if eq .Available true}}
						{{range $j, $room := $data.Rooms}}
							<div class="pv3  bb b--light-gray">
									<div>
										Type: {{$room.Type}}
									</div>
									<div class="cf">
										<div class="dib">
											Rooms Available: {{$room.Quantity}}
										</div>
										<div class="dib fr">
											Price: ₦{{$room.Price}}
										</div>
									</div>
									<a class="btn btn-sm btn-outline-clr ma0 mv2">Reserve this Room</a>
							</div>
						{{end}}

          {{ else}}
					<span class="btn btn-sm btn-outline-clr" style="margin: 30px 0 0">No Rooms Available</span>
          {{end}}


				</article>
			</div>
		</div>

	{{end}}
</section>

{{template "footer"}}
