
{{template "header"}}
	<section class="section" id="hotels" style="padding: 100px 0 30px;">
		<div class="container">
			<div class="col-sm-6 align-center img-column">
				<img src="/assets/public/img/hotel.svg" alt="" class="h5" />
			</div>

			<div class="col-sm-6 align-left">
				<article style="max-width: 480px;">
					<h3>LODGING OPTIONS</h3>
					<p><small class="text-alt"><span class="highlight">Stay in style</span></small></p>
					<!-- <p>
						To receive the Group room rate at our conference hotels,
						be sure to mention the <span class="highlight">GopherCon room block.</span>
						Rates will be honored until the block sells out.
					</p> -->
					<p>
						Here are available hotel acomodations and their prices you can choose from.
					</p>
				</article>
			</div>
		</div>
	</section>


<section id="hotels" class="fullwidth-section">
	{{ range $i,$data := .data}}
<div class="fullwidth-path">
			<div class="fullwidth-section-bg {{if odd $i}}bg-right{{else}}bg-left{{end}}" style="background-image: url('{{$data.photo_u_r_l}}');"></div>

			<div class="col-sm-6 {{if odd $i}}align-{{else}}col-sm-offset-6 {{end}} fullwidth-column">
				<article>
					<h3>
          <span>{{.name}} {{$i}}</span>
          </h3>
					<p>
						<small class="text-alt">
							<span class="highlight">
								<a href="https://goo.gl/maps/B46mFQjQgHA2">
									{{.address}}, {{.city}}
								</a>
							</span>
						</small>
					</p>
					<p>{{.description}}</p>
					<p><span class="highlight">{{.phone}}</span></p>
					<br />
					<div class="speaker">
						<ul class="speaker-socials align-<%= rightleft(index) %>">
							<li>
								<a href="#"><!-- <span class="fa fa-dollar"></span> -->
									N
								</a>
								<span class="highlight"> <%= hotel.RoomRate %></span>
							</li>
						</ul>
					</div>
          {{ if eq .available true}}
					<a href="hotels/<%= hotel.Slug %>" class="btn btn-sm btn-outline-clr" style="margin: 30px 0 0">Reserve this Hotel</a>
          {{ else}}
					<span class="btn btn-sm btn-outline-clr" style="margin: 30px 0 0">No Inventory Available</span>
          {{end}}
				</article>
			</div>
		</div>


	{{end}}
</section>

{{template "footer"}}
