
{{template "header"}}
	<section class="section" id="hotels" style="padding: 100px 0 30px;">
		<div class="container">
			<div class="col-sm-6 align-center img-column">
				<img src="/assets/public/img/hotel.svg" alt="" class="h5" />
			</div>

			<div class="col-sm-6 align-left">
				<article style="max-width: 480px;">
					<h3 class="pb3">REGISTER</h3>



					<div class="bb b-light-gray tab" >
						<a href="javascript:rudrSwitchTab('tb_1', 'content_1');" id="tb_1" class=" tabmenu active ">Individual</a>
						<a href="javascript:rudrSwitchTab('tb_2', 'content_2');" id="tb_2" class=" tabmenu   ">Club</a>
					</div>

					<div id="content_1" class="tabcontent">
						<div>
							<div class="pb2 pt3">
								<label class="db pv1">Full Name</label>
								<input type="string" class="db pv2 ph3 w-100 bw1 ba b--light-gray" id="i_fullname"/>
							</div>
							<div class="pv2">
								<label class="db pv1">Phone</label>
								<input type="tel" class="db pv2 ph3 w-100 bw1 ba b--light-gray" id="i_phone"/>
							</div>
							<div class="pv2">
								<label class="db pv1">Email</label>
								<input type="tel" class="db pv2 ph3 w-100 bw1 ba b--light-gray" id="i_email"/>
							</div>
							<div class="pv2">
								<label class="db pv1">Club</label>
								<input type="string" class="db pv2 ph3 w-100 bw1 ba b--light-gray" id="i_club"/>
							</div>
							<div class="pv2">
								<label class="db pv1">Region</label>
								<input type="string" class="db pv2 ph3 w-100 bw1 ba b--light-gray" id="i_region"/>
							</div>
							<div class="pv2">
								<label class="db pv1">District </label>
								<input type="string" class="db pv2 ph3 w-100 bw1 ba b--light-gray" id="i_district"/>
							</div>

							<div class="pv3">
								<button class="submitbtn pv2 ph3 pv3-ns" onclick="submitIndividual()">Submit</button>
							</div>
							<div class="pa3 bg-light-green " id="i_success" style="display:none">
								<p>Registration was successful</p>
							</div>
						</div>
					</div>


					<div id="content_2" class="tabcontent" style="display:none;">
						<div>
							<div class="pb2 pt3">
								<label class="db pv1">Contact Name</label>
								<input type="string" class="db pv2 ph3 w-100 bw1 ba b--light-gray" id="c_fullname"/>

							</div>
							<div class="pv2">
								<label class="db pv1">Phone</label>
								<input type="tel" class="db pv2 ph3 w-100 bw1 ba b--light-gray" id="c_phone"/>

							</div>
							<div class="pv2">
								<label class="db pv1">Email</label>
								<input type="tel" class="db pv2 ph3 w-100 bw1 ba b--light-gray" id="c_email"/>

							</div>
							<div class="pv2">
								<label class="db pv1">Club Name</label>
								<input type="string" class="db pv2 ph3 w-100 bw1 ba b--light-gray" id="c_club"/>

							</div>
							<div class="pv2">
								<label class="db pv1">Region</label>
								<input type="string" class="db pv2 ph3 w-100 bw1 ba b--light-gray" id="c_region"/>
							</div>
							<div class="pv2">
								<label class="db pv1">District </label>
								<input type="string" class="db pv2 ph3 w-100 bw1 ba b--light-gray" id="c_district"/>
							</div>

							<div class="pv3">
								<button class="submitbtn pv2 ph3 pv3-ns" onclick="submitClub()">Submit</button>
							</div>

							<div class="pa3 bg-light-green " id="c_success" style="display:none">
								<p>Registration was successful</p>
							</div>
						</div>
					</div>

				</article>
			</div>
		</div>
	</section>

<style>
	.tabmenu, .tabmenu:hover, .tabmenu:focus{
		color: #E87E04;
		border-top: #E87E04 solid 1px;
		border-left: #E87E04 solid 1px;
		border-right: #E87E04 solid 1px;
		display:inline-block;
		padding: .5rem 1rem;
		text-decoration: none;
	}
	 .tab .active{
		background-color: #D55400;
		color:#fff;
	}
 .submitbtn{
	 background-color: #D55400;
	 color:#fff;
		border-top: #E87E04 solid 1px;
		border-left: #E87E04 solid 1px;
		border-right: #E87E04 solid 1px;
	}
</style>
<script>

	function rudrSwitchTab(rudr_tab_id, rudr_tab_content) {
		// first of all we get all tab content blocks (I think the best way to get them by class names)
		var x = document.getElementsByClassName("tabcontent");
		var i;
		for (i = 0; i < x.length; i++) {
			x[i].style.display = 'none'; // hide all tab content
		}
		document.getElementById(rudr_tab_content).style.display = 'block'; // display the content of the tab we need

		// now we get all tab menu items by class names (use the next code only if you need to highlight current tab)
		var x = document.getElementsByClassName("tabmenu");
		var i;
		for (i = 0; i < x.length; i++) {
			x[i].className = 'tabmenu';
		}
		document.getElementById(rudr_tab_id).className = 'tabmenu active';
	}
	function submitIndividual(){
		document.getElementById("i_success").style.display = "none"
		var req = {}
		req.FullName = document.getElementById("i_fullname").value
		req.FullName = document.getElementById("i_fullname").value
		req.Club = document.getElementById("i_club").value
		req.Region = document.getElementById("i_region").value
		req.District = document.getElementById("i_district").value
		req.Email = document.getElementById("i_email").value
		req.Phone = document.getElementById("i_phone").value

		console.log(req)
		fetch("/register_individual",{
			method:"POST",
			body:JSON.stringify(req)
		})
		.then(function(response){
			return response.json()
		})
		.then(function(resp){
			console.log(resp)
			document.getElementById("i_fullname").value = ""
			document.getElementById("i_club").value = ""
			document.getElementById("i_region").value = ""
			document.getElementById("i_district").value = ""
			document.getElementById("i_email").value = ""
			document.getElementById("i_phone").value = ""

			document.getElementById("i_success").style.display = "block"
		})

	}

	function submitClub(){
		document.getElementById("c_success").style.display = "none"
		var req = {}
		req.FullName = document.getElementById("c_fullname").value
		req.Club = document.getElementById("c_club").value
		req.Region = document.getElementById("c_region").value
		req.District = document.getElementById("c_district").value
		req.Email = document.getElementById("c_email").value
		req.Phone = document.getElementById("c_phone").value

		console.log(req)
		fetch("/register_club",{
			method:"POST",
			body:JSON.stringify(req)
		})
		.then(function(response){
			return response.json()
		})
		.then(function(resp){
			console.log(resp)
			document.getElementById("c_fullname").value = ""
			document.getElementById("c_club").value = ""
			document.getElementById("c_region").value = ""
			document.getElementById("c_district").value = ""
			document.getElementById("c_email").value = ""
			document.getElementById("c_phone").value = ""

			document.getElementById("c_success").style.display = "block"


		})

	}

</script>
{{template "footer"}}
